<h1>Space Details</h1>

<h2><%= "Space" %></h2>
<p><%= "the final frontier"%></p>
<ul>
  <li>Price: <%= "150" %></li>
  <li>Available from: <%= "01/01/2023"%></li>
  <li>Available until: <%= "10/01/2023"%></li>
</ul>