<h1>Book a Space</h1>

<form class="flex-h" action="/spaces/search" method="POST">
  <div>
    <label for="from">Available from:</label>
    <input type="date" id="from" name="from">
  </div>
  <div>
    <label for="to">Available to:</label>
    <input type="date" id="to" name="to">
  </div>
  <input type="submit" value="List Spaces">
</form>

FROM: <%= date_from %>
TO: <%= date_to %>

<% if spaces.empty? %>
There are no spaces available.
<% else %>
  <% if date_from.empty? || date_to.empty? %>
    <% spaces.map do |space| %>
          <a class="space-link" id="space-link" href="/spaces/<%= space.id %>">
          <div class="space-search-entry">
            <h3><%= space.title %></h3>
            <%= space.description %>
          </div>
          </a>
      <% end %>
  <% else %>
  <% spaces.map do |space| %>
      <% if Date.parse(date_from) >= Date.parse(space.date_from) && Date.parse(date_from) <= Date.parse(space.date_to) %>
        <a class="space-link" id="space-link" href="/spaces/<%= space.id %>">
        <div class="space-search-entry">
          <h3><%= space.title %></h3>
          <%= space.description %>
        </div>
        </a>
      <% end %>
    <% end %>
  <% end %>
<% end %>