<h1>Space Details</h1>

<img src="<%= space.img_url %>" class="space-image" >
<h2><%= space.title %></h2>
<p><%= space.description %></p>
<ul>
  <li>Price: <%= space.price %></li>
  <li>Available from: <%= DateTime.parse(space.date_from).strftime('%a, %d-%b-%Y') %></li>
  <li>Available until: <%= DateTime.parse(space.date_to).strftime('%a, %d-%b-%Y') %></li>
</ul>
