<% user = User.find_by(id: session[:user_id]) %>

<div class='wrapper'>
  <h1><%= user.first_name %>'s Profile</h1>
  <table>
    <tbody>
      <tr>
        <td><span class="row-title">Full Name:</span></td>
        <td><%= user.first_name %> <%= user.last_name %></td>
      </tr>
      <tr>
        <td><span class="row-title">Email:</span></td>
        <td><%= user.email %></td>
      </tr>
      <tr>
        <td><span class="row-title">Account Created:</span></td>
        <td><%= user.created_at %></td>
      </tr>
    </tbody>
  </table>
  <h2>Spaces</h2>
  <div class="spaces-list">
    <table>
      <tbody>
        <% Space.where('user_id = ?', session[:user_id]).map do |space| %>
          <tr>
            <td><span class="row-title"><%= space.title %></span></td>
            <td>
              <form class="plain" action="/spaces/<%= space.id %>" method="post">
                <input id="hidden" type="hidden" name="_method" value="delete">
                <button type="submit">Delete</button>
              </form>
              <button onclick="document.location='/spaces/<%= space.id %>/edit'" class="plain">Edit</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>